.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;        
}

a {
    text-decoration: none;
    color: unset;
}
li {
    display: block;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

.btn-blue {
    color: blue;
    background-color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    border: block;
}

.btn-red {
    color: rgb(255, 57, 57);
    background-color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
}

.hidden {
    display: none !important;
}
